$layout-max-width: 1400px;

.layoutContainer {
    height: 100%;
    width: 100%;
    background-color: $theme-layout-background-color;
}

.layoutBody {
    max-width: $layout-max-width;
    margin: auto auto;
    padding: 18px;
}

.layoutInner {
    margin-top: 5rem;
}