@import "../../media-queries.scss";

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    height:100%;

    @include breakpoint-sm {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-md {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @include breakpoint-lg {
        grid-template-columns: repeat(4, 1fr);
    }
}