@import '../../theme.scss';

$navbar-title-fontSize: 24px;
$navbar-cart-fontSize: 18px;

.navbar-container {
    width: 100%;
    border-bottom: 1px solid $theme-border-color;
    height: 79px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
}

.navbar-inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 18px;
}

.navbar-links {
    flex: 1;
    .navbar-title {
        font-size: $navbar-title-fontSize;
        font-weight: bold;
    }
}

.navbar-cart {
    font-size: $navbar-cart-fontSize;
    font-weight: bold;
}
